* {box-sizing: border-box;}
body{
    margin:0px;
    padding: 0px;
}
.main-container{
    padding: 0px;
    display:grid;
    grid-template-rows: 1fr 5fr 0.9fr;
    height: 100vh;

}


.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d1d5db;
}

.footer{
  background-color: #d1d5db;
  text-align: center;

}

.main-title {
    font-weight: bolder;
    font-size: 3rem;
    padding-left: 1rem;
    margin: 0px;
    
}

.add-book{
    
    
    padding-top: 10px;
    padding-right: 10px;
    
}
 
.add-btn {
    float:right;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    margin-right:5px;
  }
  .add-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  .add-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .add-btn:hover {
    color: #fff;
    cursor: pointer;
  }
  .add-btn:hover:before {
    width: 100%;
  }
    
  

  
  
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    
    right:30%;
    top:0;
    
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 30rem;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=number]  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #39437c;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .buttons{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgba(180, 15, 15, 0.589);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .main-body{
    display: grid;
    /*
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 1rem;
    padding: 10px;
   */
   grid-auto-flow: row ;
   grid-auto-rows: 50% ; 
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: unset;
   grid-gap: 1rem;
   padding: 10px;
   overflow: scroll;
   
  }

  .book-card{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   
    padding-left:10px;
    background: rgba( 237, 225, 225, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

  }